:root{
    --color-1: #224295;
    --color-2: #F6F6F6;
    --color-3: #23272A;
}


header{
     
    background-color: var(--color-1);
    /* height: 400px; */
    padding-block: 15px;
}
.flex{
    display: flex;
    justify-content: space-around;
}



.logo,
.menu,
.accedi{
    height: 50px;
    width: 50px;
    background-color: #daa521;
}
.text-1{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    height: 100px;
    margin-top: 20px;



}
.container-80{
    width: 80%;
    margin: 0 auto;
}

/* main section{
    height: 80px;
} */
.flex-basis-60{
    flex-basis: 60%;
    height: 60px;
}

.flex-basis-40{
    flex-basis: 40%;
    height: 60px;
}
.color-grey{
    background-color: var(--color-2);
}

main section:last-child > div{
    flex-direction: column;
}
footer .flex div{
    flex-basis: calc(100% /5);
    height: 50px;
    background-color: var(--color-3);
}
footer .flex div:first-child{
    flex-basis: 25%;
}
footer{
    background-color: var(--color-3);
}

